/* adjusting the inputs within tables specifically that use numbers */
html, body {
  background: linear-gradient(purple, blue) no-repeat center center fixed;
  background: linear-gradient(in lch, purple, blue) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  color: rgb(39, 127, 156);
}

.table input[type=number] {
  width: 100%;
}

#shieldHere {
  background-image: url(shield.png);
  background-size: contain;
}

.table tr {
  color: rgb(39, 127, 156);
}

/* setting a static width and alignment */
.stat {
  width: 50px;
  vertical-align: middle;
}

/* updating borders for buttons */
.btn {
  border-radius: 5px;
}

.center-me {
  text-align: center;
}

.dice {
  vertical-align: middle;
}

.container {
  max-width: 75%;
}

/* providing space for sections below */
select {
  padding: 4px;
  min-width: 50px;
  vertical-align: middle;
}

.col-4 {
  border: 5px solid rgb(0, 0, 0);
  border-radius: 5%;
}