/* adjusting the inputs within tables specifically that use numbers */
html, body {
  background: linear-gradient(purple, blue) no-repeat center center fixed;
  background: linear-gradient(in lch, purple, blue) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  color: rgb(39, 127, 156);
  min-width: 1400px;
}

.table input[type=number] {
  width: 30%;
}

#playerNotes {
  height: 70px;
}

#profBonus {
  width: 50%;
}

#nameTagHere {
  background-image: url('./assets/name-tag.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 650px;
  padding-top: 250px;
  padding-bottom: 200px;
  padding-left: 30px;
}

#heartHere {
  background-image: url('./assets/heart-gif.gif');
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: center;
  background-position-x: center;
  background-size: inherit;
}

#shieldHere {
  background-image: url('./assets/shield.png');
  /* background-size: contain no-repeat center center fixed; */
  background-position: top center;
  height: 500px;
  padding-top: 100px;
}

#shieldHere input[type=number] {
  width: 10%;
}

.table tr {
  color: rgb(39, 127, 156);
}

/* setting a static width and alignment */
.stat {
  width: 50px;
  vertical-align: middle;
}

/* updating borders for buttons */
.btn {
  border-radius: 5px;
}

#dice-type {
  width: 70px;
}

.center-me {
  text-align: center;
}

.dice {
  vertical-align: middle;
}

.container {
  max-width: 75%;
}

#modifier {
  width: 50px;
}

/* providing space for sections below */
select {
  padding: 4px;
  min-width: 50px;
  vertical-align: middle;
}

.col-4 {
  border: 5px solid rgb(0, 0, 0);
  border-radius: 5%;
}

@media screen and (max-width: 1500px) {
  .table input[type=number] {
    width: 35%;
  };

  #playerSelect {
    width: 25px;
  }

  #characterSelect {
    width: 25px;
  }

  #rightBox {
    width: 375px;
  }
}