/* adjusting the inputs within tables specifically that use numbers */
body {
  background: rgb(116, 10, 165);
}

.table input[type=number] {
  width: 100%;
}

/* setting a static width and alignment */
.stat {
  width: 50px;
  vertical-align: middle;
}

/* updating borders for buttons */
.btn {
  border-radius: 5px;
}

.center-me {
  text-align: center;
}

.dice {
  vertical-align: middle;
}

.container {
  max-width: 75%;
}

/* providing space for sections below */
select {
  padding: 4px;
  min-width: 50px;
  vertical-align: middle;
}